@import url('./reset.css');
@import url('./font.css');

:root {
  font-size: 62.5%;
  /* 1rem = 10px */
  --root-z-index: 1;
  --modal-z-index: 3;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

#root {
  position: relative;

  min-height: 100vh;
  height: fit-content;
  z-index: var(--root-z-index);
}

#modal {
  position: fixed;
  z-index: var(--modal-z-index);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.background-clip-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
